@charset "utf-8";
/*
  LAYOUT.SCSS
  -----------
  This file is an example for the "ComposerGrunt" skeleton package
*/

html, body {
  position: relative;
  width: 100%;
  height: 100%;
}

html {
  font-size: 100.01%;
  overflow: auto;
  overflow-x: hidden;
}

body {
  font-size: 62.5%;
  line-height: 140%;
  font-weight: normal;
}

